{ % laod static %}

<div class="container">
    <div class="style-banner ">
       <h4 class="mb-1">Better Care and Better World</h4>
       <h5>You have a good life,some other don't
       </h5>
    </div>
    <div class="two-demo-button mt-lg-4 mt-3">
       <p> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum </p>
    </div>
    <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
       <a href="#about" class="btn scroll">About Us</a>
    </div>
</div>