{% load static %}

<div class="container-fluid">
    <div class="row">
       <div class="col-lg-3 col-md-6 col-sm-6 p-0">
          <div class="img-abt-info1">
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 banner-bottom-grid p-0">
          <div class="w3layouts-abt-info">
             <div class="mb-lg-3 mb-md-3 mb-2 abut-headder">
                <h4>Donation</h4>
             </div>
             <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet</p>
             <div class="view-price mt-3">
                <a href="#contact" class=" scroll">Read More</a>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 p-0">
          <div class="img-abt-info2">
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 banner-bottom-grid p-0">
          <div class="w3layouts-abt-info">
             <div class="mb-lg-3 mb-md-3 mb-2 abut-headder">
                <h4>Fundrising</h4>
             </div>
             <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet</p>
             <div class="view-price mt-3">
                <a href="#contact" class=" scroll">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>