{% load static %}

<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="stats-info row ">
       <!-- Donation -->
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 stats-grid ">
          <div class="register-left-num ">
             <div class="count-icon">
                <span class="fa fa-paw" aria-hidden="true"></span>
             </div>
             <div class="counter-number">1200</div>
             <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
                <h4>Donation</h4>
             </div>
          </div>
       </div>
       <!-- //Donation -->
       <!-- Volunteers -->
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 stats-grid ">
          <div class="register-left-num">
             <div class="count-icon">
                <span class="fa fa-smile-o" aria-hidden="true"></span>
             </div>
             <div class="counter-number">2000</div>
             <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
                <h4>Volunteers</h4>
             </div>
          </div>
       </div>
       <!-- //Volunteers -->
       <!-- Rescued -->
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 stats-grid">
          <div class="register-left-num">
             <div class="count-icon">
                <span class="fa fa-leaf" aria-hidden="true"></span>
             </div>
             <div class="counter-number">4000</div>
             <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
                <h4>Rescued</h4>
             </div>
          </div>
       </div>
       <!-- //Rescued -->
       <!-- Countries -->
       <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-6 stats-grid">
          <div class="register-left-num">
             <div class="count-icon">
                <span class="fa fa-globe" aria-hidden="true"></span>
             </div>
             <div class="counter-number">30+</div>
             <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
                <h4>Countries</h4>
             </div>
          </div>
       </div> -->
       <!-- //Countries -->
    </div>
</div>