{% load static %}

<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Our Gallery</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
       <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum 
       </p>
    </div>
    <div class="row gallery-info">
       <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
             <a href="#gal1"><img src="images/g1.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
             <a href="#gal2"><img src="images/g2.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids">
             <a href="#gal3"><img src="images/g3.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid p-0">
          <div class="gallery-grids p-0">
             <a href="#gal4"><img src="images/g4.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 gallery-img-grid gallery-mid-two p-0">
          <div class="gallery-grids">
             <a href="#gal5"><img src="images/g5.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 gallery-img-grid gallery-mid-two p-0">
          <div class="gallery-grids">
             <a href="#gal6"><img src="images/g6.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 gallery-img-three p-0">
          <div class="gallery-grids">
             <a href="#gal7"><img src="images/g7.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 gallery-img-three p-0">
          <div class="gallery-grids">
             <a href="#gal8"><img src="images/g8.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 gallery-img-three p-0">
          <div class="gallery-grids">
             <a href="#gal9"><img src="images/g9.jpg" alt="news image" class="img-fluid"></a>
          </div>
       </div>
    </div>
 </div>