{% load static %}

<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Our Service</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum </p>
    </div>
    <div class="row">
       <div class="col-lg-5 service-two-grids">
          <div class="color-img-five">
             <div class="ser-sevice-grid text-center">
                <h4 class="pb-3">Make A Donation</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum dolor sit amet</p>
             </div>
          </div>
       </div>
       <div class="col-lg-7 service-two-grids">
          <div class="img-cols-grid row">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class=" color-img-one" >
                   <div class="ser-sevice-grid text-center">
                      <h4 class="pb-3">Become volunteer</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div class=" color-img-two">
                   <div class="ser-sevice-grid text-center">
                      <h4 class="pb-3">Make A Donation</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 mt-md-4 mt-3">
                <div class=" color-img-three">
                   <div class="ser-sevice-grid text-center">
                      <h4 class="pb-3">Sponsor a Child</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 mt-md-4 mt-3">
                <div class=" color-img-four">
                   <div class="ser-sevice-grid text-center">
                      <h4 class="pb-3">Human Rights</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>