{% load static %}

<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2 clr">Our Volunteers</h3>
    <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 sub-colors">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum </p>
    </div>
    <div class="row ">
       <div class="col-lg-3 col-md-6 col-sm-6 team-grid-colum text-center">
          <img src="images/t1.jpg" alt="" class="img-fluid">
          <div class="text-grid-gried">
             <h4>Atticus Will</h4>
             <ul class="d-flex justify-content-center pt-3 social-icons">
                <li>
                   <a href="#">
                   <span class="fa fa-facebook-f"></span>
                   </a>
                </li>
                <li class="mx-3">
                   <a href="#">
                   <span class="fa fa-twitter"></span>
                   </a>
                </li>
                <li>
                   <a href="#">
                   <span class="fa fa-google-plus"></span>
                   </a>
                </li>
             </ul>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 team-grid-colum text-center">
          <img src="images/t2.jpg" alt="" class="img-fluid">
          <div class="text-grid-gried">
             <h4>Jacob Will</h4>
             <ul class="d-flex justify-content-center pt-3 social-icons">
                <li>
                   <a href="#">
                   <span class="fa fa-facebook-f"></span>
                   </a>
                </li>
                <li class="mx-3">
                   <a href="#">
                   <span class="fa fa-twitter"></span>
                   </a>
                </li>
                <li>
                   <a href="#">
                   <span class="fa fa-google-plus"></span>
                   </a>
                </li>
             </ul>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 team-grid-colum text-center">
          <img src="images/t3.jpg" alt="" class="img-fluid">
          <div class="text-grid-gried">
             <h4>Isabella Den</h4>
             <ul class="d-flex justify-content-center pt-3 social-icons">
                <li>
                   <a href="#">
                   <span class="fa fa-facebook-f"></span>
                   </a>
                </li>
                <li class="mx-3">
                   <a href="#">
                   <span class="fa fa-twitter"></span>
                   </a>
                </li>
                <li>
                   <a href="#">
                   <span class="fa fa-google-plus"></span>
                   </a>
                </li>
             </ul>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 team-grid-colum text-center">
          <img src="images/t4.jpg" alt="" class="img-fluid">
          <div class="text-grid-gried">
             <h4>Liam Willson</h4>
             <ul class="d-flex justify-content-center pt-3 social-icons">
                <li>
                   <a href="#">
                   <span class="fa fa-facebook-f"></span>
                   </a>
                </li>
                <li class="mx-3">
                   <a href="#">
                   <span class="fa fa-twitter"></span>
                   </a>
                </li>
                <li>
                   <a href="#">
                   <span class="fa fa-google-plus"></span>
                   </a>
                </li>
             </ul>
          </div>
       </div>
    </div>
 </div>