{% extends "partials/layout.html" %}

{% block header %}
  {% include "partials/header.html" %}
{% endblock header %}

{% block banner %}
  {% include "partials/banner.html" %}
{% endblock banner %}

{% block donation %}
{% include "partials/donation.html" %}
{% endblock donation %}

{% block about %}
{% include "partials/about.html" %}
{% endblock about %}

{% block state %}
{% include "partials/state.html" %}
{% endblock state %}

{% block service %}
{% include "partials/service.html" %}
{% endblock service %}

{% block team %}
{% include "partials/team.html" %}
{% endblock team %}

{% block gallery %}
{% include "partials/gallery.html" %}
{% endblock gallery %}

{% block blog %}
{% include "partials/blog.html" %}
{% endblock blog %}

{% block joinus %}
{% include "partials/joinus.html" %}
{% endblock joinus %}

{% block contact %}
{% include "partials/contact.html" %}
{% endblock contact %}

{% block location %}
{% include "partials/location.html" %}
{% endblock location %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
    


