<!DOCTYPE html>
<html lang="zxx">
    <head>
    <title>खुशीको श्रीजना | Creation of happiness, Charity</title>
        <!--meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Oblige Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        
        function hideURLbar() {
            window.scrollTo(0, 1);
        }        
        </script>
        {% if status %}
        <script>
            alert("{{status}}");
        </script>        
        {% endif %}
        <!--//meta tags ends here-->
        <!--booststrap-->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
        <!--//booststrap end-->
        <!-- font-awesome icons -->
        <link href="../static/css/font-awesome.min.css" rel="stylesheet">
        <!-- //font-awesome icons -->
        <!--stylesheets-->
        <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
        <link href="../static/css/form_style.css" rel='stylesheet' type='text/css' media="all">
        <!--//stylesheets-->
        <link rel="icon" href="../static/images/title.png" type="images/jpg" sizes="12x12">
        <link href="//fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
    </head>
    <body>
        <!--header-->
        <div class="main-top" id="home">
            <!-- header -->
            <div class="headder-top">
                <div class="container-fluid">
                    <!-- nav -->
                    <nav >
                       <div id="logo">
                          <h1><a class="title" href="{% url 'home' %}">खुशीको श्रीजना<span id="tagline">Creation of happiness, Charity</span></a></h1>
                       </div>
                       <label for="drop" class="toggle">Menu</label>
                       <input type="checkbox" id="drop">
                       <ul class="menu mt-2">
                          <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="{% url 'home' %}">Home</a></li>
                          <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="{% url 'single_about' %}">About</a></li>
                          <!-- Service -->
                          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                            <!-- First Tier Drop Down -->
                           <a href="#">Services <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                           <input type="checkbox" id="drop-2">
                           <ul>
                              <!-- <li><a href="#team" class="drop-text">Founders</a></li> -->
                              <li><a href="#" class="drop-text">Donation</a></li>
                              <li><a href="#" class="drop-text">Volunteer</a></li>
                              <li><a href="#" class="drop-text">Human Rights</a></li>
                              <li><a href="#" class="drop-text">Sponsor</a></li>
                           </ul>
                          </li>
                          <!-- //Service -->
                          <!-- More -->
                          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                             <!-- First Tier Drop Down -->
                             <a href="#">More <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                             <input type="checkbox" id="drop-2">
                             <ul>
                                <!-- <li><a href="#team" class="drop-text">Founders</a></li> -->
                                <li><a href="{% url 'single_gallery' %}" class="drop-text">Gallery</a></li>
                                <li><a href="{% url 'single_blog' %}" class="drop-text">Blog</a></li>
                             </ul>
                          </li>
                          <!-- //More -->
                          <li><a href="#contactus">Contact Us</a></li>
                          <li><a href="{% url 'single_joinus' %}">Join Us</a></li>
                       </ul>
                    </nav>
                    <!-- //nav -->
                 </div>              
            </div>
            <!-- //header -->

            <!-- banner -->
            <div class="main-banner">
                <div class="container">
                    <div class="form-banner ">
                       <h4 class="mb-1">Join Hands For a Better World</h4>
                       <h5>You have a good life,some other don't</h5>
                    </div>
                </div>
            </div>
            <!-- //banner -->

            <!-- Form -->
            <div class="formv">
                <div class="form-container">
                    <div class="style-form">
                        <form action="" method="post">
                            {% csrf_token  %}
                            <div class=" form-group contact-forms">
                                <input type="text" class="form-control" placeholder="Position" name="position" required="">
                             </div>
                           <div class=" form-group contact-forms">
                              <input type="text" class="form-control" placeholder="Name" name="name" required="">
                           </div>
                           <div class=" form-group contact-forms">
                              <input type="text" class="form-control" placeholder="Address" name="address" required="">
                           </div>
                           <div class="form-group contact-forms">
                                <ul class="form-gender">
                                    <li>
                                        <input type="radio" value="M" class="form-gender1" name="gender" required=""> 
                                        <span class="gender-span">Male</span>
                                    </li>
                                    <li>
                                        <input type="radio" value="F" class="form-gender2" name="gender" required=""> 
                                        <span class="gender-span">Female</span>
                                    </li>
                                    <li>
                                        <input type="radio" value="T" class="form-gender3" name="gender" required=""> 
                                        <span class="gender-span">LGBTQ</span>
                                    </li>                                
                                </ul>                                                        
                           </div>
                           <div class="form-group contact-forms">
                              <input type="email" class="form-control" placeholder="Email" name="email" required="">
                           </div>
                           <div class=" form-group contact-forms">
                              <input type="text" class="form-control" placeholder="Contact" name="contact" required="">
                           </div>
                           <button type="submit" class="btn sent-butnn">Submit</button>
                        </form>
                    </div>
                    
                </div>
            </div>
            <!-- //Form -->

        </div>
        <!--//header-->

        <!-- Location -->
        <div class="address_mail_footer_grids">
            <iframe src="https://maps.google.com/maps?q=sainik%20awasiya&t=k&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>
        <!-- //Location -->

        <!-- footer -->
        <footer class=" py-3" id="contactus">
            <div class="icons mt-3 text-center">
                <ul class="d-flex justify-content-center pb-3 social-icons">
                   <li>
                      <a href="#">
                      <span class="fa fa-facebook-f"></span>
                      </a>
                   </li>
                   <li class="mx-3">
                      <a href="#">
                      <span class="fa fa-twitter"></span>
                      </a>
                   </li>
                   <li class="mr-3">
                      <a href="#">
                      <span class="fa fa-google-plus"></span>
                      </a>
                   </li>
                   <li><a href="#"><span class="fa fa-vk"></span></a></li>
                </ul>
            </div>
            <div class="footer-main txt-center">
            <p> 
                © 2020 Summer Project. <a href="{% url 'home' %}">खुशीको श्रीजना | Creation of happiness, Charity</a>
            </p>
            </div>
            <!-- move icon -->
            <div class="txt-center">
                <a href="#home" class="move-top txt-center mt-3"></a>
            </div>
            <!--//move icon -->
        </footer>
        <!--//footer -->
    </body>
</html>